@use "../base/variables" as var;

.success {
  align-items: center;

  height: 25rem;
  justify-content: center;

  img {
    width: 4rem;
    margin-bottom: 0.8rem;
  }

  p {
    margin-bottom: 0;
    text-align: center;
  }
}
